.checkout-page {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 7rem;
}

.checkout-page h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.cart-item img {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
}

.cart-item p {
  margin: 0;
}

.cart-item input {
  width: 3rem;
  height: 2rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.checkout-links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  align-items: flex-end;
}

.checkout-button {
  background-color: #007bff;
  text-decoration: none;
  padding: 0.5rem 3rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Special Gothic Expanded One", sans-serif;
}

.checkout-button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.item-image-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 0.5;
  flex-wrap: wrap;
}

.cart-items-header {
  display: flex;
  align-items: center;
  margin-right: 5.5rem;
  margin-bottom: 1rem;
  gap: 2rem;
}

.item-header {
  flex: 1;
}

.item-header-other {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex: 1;
}

.remove-btn {
  background-color: #ccc;
  border: none;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.store-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.quantity-icon {
  cursor: pointer;
}

.quantity {
  max-width: 2rem;
}
