.checkout-page {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 7rem;
}

.checkout-page h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.cart-item img {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
}

.cart-item p {
  margin: 0;
}

.checkout-links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  align-items: flex-end;
}

.checkout-button {
  background-color: #007bff;
  text-decoration: none;
  padding: 0.5rem 3rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Special Gothic Expanded One", sans-serif;
}

.checkout-button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.item-image-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 30rem;
  flex-wrap: wrap;
}

.cart-items-header {
  display: flex;
  align-items: center;
  margin-right: 7.5rem;
  margin-bottom: 1rem;
  gap: 7.5rem;
}

.item-header {
  width: 30rem;
}

.item-header-other {
  display: flex;
  gap: 4rem;
}

.remove-btn {
  background-color: #ccc;
  border: none;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
